* {
    box-sizing: border-box;
}

body {
    background-color: #7FC6B8;
}

.container {
    background-image: url(../images/wallpaper.jpg);
}

.header {
    background-color: #E8A87C;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: fixed;
    width: 100%;
    top: 20px;
    /* margin: 0; */
}

.nameBox {
    background-color: #7FC6B8;
    color: #fff;
    border: 2px solid #E8A87C;
    padding: 25px 40px 25px 40px;
    position: relative;
    top: 20px;
    left: 50px;
    font-size: 24px;
}

.linkBox {
    float: right;
}

.link {
    background: none;
    padding: 25px 40px;
    border: none;
}

#portfolio {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

a {
    text-decoration: none;
    color: #E27D60;
    font-weight: bolder;
}

.main {
    background-color: #7FC6B8;
    border: 1px solid #dddddd;
    color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
    height: auto;
    margin: 0px 150px;
    padding: 50px;
}

h2 {
    margin: 75px auto 0;
    text-align: left;
    color: #E27D60;
    border-bottom: 2px solid #cccccc;
}

#portfolioImage {
    width: 200px;
    height: auto;
    padding: 15px;
    float: left;
}

.passwordGenImgDiv {
    background-image: url("../images/Password Generator.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 75px;
}

#passwordGeneratorLink {
    padding: 5px;
    background-color: #7FC6B8;
    color: #fff;
    font-size: 12px;
}

.foodAndFunImgDiv {
    background-image: url("../images/Food\ and\ Fun.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 75px;
}

#foodAndFunLink {
    padding: 5px;
    background-color: #7FC6B8;
    color: #fff;
    font-size: 12px;
}

.weatherDashboardImgDiv {
    background-image: url("../images/weatherDashboard.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 75px;
}

#weatherDashboardLink {
    padding: 5px;
    background-color: #7FC6B8;
    color: #fff;
    font-size: 12px;
}

footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E8A87C;
    color: #E27D60;
    text-align: center;
}