#maincontent{
    margin-top: 75px;
    width: 960px;
}

img{
    max-width: 25%;
    height: auto;
}
h1{
    color: #4aaaa5;
}
#profileimage {
    max-width: 100px;
    height: auto;
}

p{
    color: #777777;
}